.button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  min-width: 255px;
  color: white;
  transition: 0.2s ease;
}

.button:hover,
.button:active {
  background: white;
  color: var(--bg-color, var(--primary-yellow));
}
